/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/*	Global Elements
----------------------------
Author:		Ian P. Hines (http://ianhin.es)	
Copyright:	2010 Ian P. Hines. 

				You must adhere to this Creative Commons License 
				(http://creativecommons.org/licenses/by-nc/3.0/).
----------------------------------------------------------------------------------------------------*/

body {
	font-family: "Yanone Kaffeesatz", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	color: rgb(255, 255, 255);
	font-size: 18px;
	line-height: 26px;
	background: rgb(37, 42, 46);
	text-rendering: optimizeLegibility;
}

del {
	text-decoration: none;
	font-style: italic;
	color: rgb(37, 42, 46);
}

del:hover {
	color: rgb(255, 255, 255);
}

p strong {
	font-weight: bolder;
}

p em {
	font-weight: lighter;
	font-style: italic;	
}


/* Links 
----------------------------------------------------------------------------------------------------*/

a {
	border-width: 0px;
	text-decoration: none;
	color: rgb(0, 162, 135);
}

a:hover {
	text-decoration: none;
	color: rgb(255, 103, 0);
}

a:active { 
	position: relative; top: 1px 
}

.sidebar a, 
	#big-footer-elsewhere a,
	#header-nav-inner a,
	#header-inner h1 a,
	#header-inner p a {
	color: rgb(255, 255, 255);
}

.sidebar a:hover, 
	#big-footer-elsewhere a:hover,
	#header-nav-inner a:hover,
	#header-inner h1 a:hover,
	#header-inner p a:hover,
	#footer a:hover {
	color: rgb(255, 103, 0);
}
	
#footer a:hover {
	color: rgb(255, 103, 0);
}

/* Navigation 
----------------------------------------------------------------------------------------------------*/
#header-nav {
	padding: 0px;
	display: inline;
	margin: 0px;
}

#header-nav-inner {
	line-height: 24px;
	float: right;
	text-align: right;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 24px;
	margin-left: 0px;
	margin-bottom: 72px;
	margin-right: -10px;
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: lighter;
}

#header-nav-inner ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#header-nav-inner ul li {
	margin-left: 18px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	list-style-type: none;
	float: none;
	display: inline;
	
}

/* Header 
----------------------------------------------------------------------------------------------------*/
#header-inner {
	margin-bottom: 72px;
}

#header-inner h1 {
	line-height: 60px;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 60px;
	font-weight: lighter;
}

#header-inner h1 .p {
	color: rgb(255, 255, 255);
}

#header-inner p {
	margin: 0px;
	padding: 0px;
}

/* Search Form 
----------------------------------------------------------------------------------------------------*/
.search-box {
	margin-top: -18px;
	float: right;
	text-align: right;
	border-width: 0px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 10px;
	width: 223px;
	background-color: rgb(255, 255, 255);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(37, 42, 46);
}

input:focus {
	outline: 0;
}

.search-button {
	visibility: hidden;
}

/* Mod */
.mod {
	margin-bottom: 36px;
}

.mod h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

.mod p img {
	border-width: 10px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	max-width: 600px;
}

.mod p {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 24px;
}

.mod ul {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 24px;
}

.mod ul li {
	list-style-position: outside;
	list-style-type: circle;
	margin: 0px;
}

.mod ol {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 24px;
}

.mod ol li {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0px;
}

.mod blockquote {
	margin-bottom: 24px;
	margin-top: 0px;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: rgb(255, 255, 255);
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 24px;
}

.grid_8 .mod-inner {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: rgb(255, 255, 255);
	padding-bottom: 12px;
}

.grid_8 .mod-inner h1, h2, h3, h4, h5 {
	font-size: 14px;
	line-height: 24px;
}


/* Sidebar 
----------------------------------------------------------------------------------------------------*/
.sidebar {
	margin: 0px;
}
 
.sidebar h1 {
	font-weight: bold;	
	font-size: 14px;
	line-height: 24px;
}
 
 
.sidebar h2, h3, h4, h5 {
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;	
	text-transform: lowercase;
}

.sidebar h3 {
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
}
 
.sidebar p {
	margin: 0px;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;	
	text-transform: lowercase;
}

/* Notes 
----------------------------------------------------------------------------------------------------*/
.grid_8 .mod-inner h2, h3, h4, h5, h6 {
	font-weight: bolder;
	font-size: 14px;
	line-height: 24px;
}

/* Links 
----------------------------------------------------------------------------------------------------*/
.links h1 {
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	margin: 0px;
}

/* Quotes 
----------------------------------------------------------------------------------------------------*/
.quotes h1 {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 24px;
}

.quotes p.quote {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 24px;
}

/* Videos 
----------------------------------------------------------------------------------------------------*/

.videos object {
	margin-bottom: 24px;
}

/* Navigation 
----------------------------------------------------------------------------------------------------*/

#permalink-navigation p {
	display: inline;
	text-align: right;
}

#permalink-navigation .left {
	text-align: left;
	float: left;
}

#permalink-navigation .right {
	float: right;
	text-align: right;
}

#permalink-navigation .mod-inner {
	margin-top: -24px;
}

/* Big Footer 
----------------------------------------------------------------------------------------------------*/

#big-footer {
	padding-top: 36px;
}

#big-footer ul,
#big-footer h1, h2 {
	padding: 0px;
	margin: 0px;
	line-height: 24px;
}

#big-footer ul {
	list-style-type: none;
	font-weight: normal;
	font-size: 12px;
}

#big-footer h1, h2 {
	font-weight: bolder;
	font-size: 14px;
}

#big-footer p {
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 24px;
}

#pre-big-footer3 {
	margin-left: 0px;
	margin-bottom: 24px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
}

/* Footer 
----------------------------------------------------------------------------------------------------*/

#footer {
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
	padding-left: 0px;
	padding-bottom: 24px;
	padding-right: 0px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: lighter;

}

#footer a, ul, ul li {
	color: rgb(255, 255, 255);
}

#footer ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#footer ul li {
	margin-right: 20px;
	list-style-type: none;
	float: none;
	display: inline;	
}

#footer p {
	text-align: right;
	display: inline;
	float: right;
	margin: 0px;
	padding: 0px;
}

p.link-title {
	margin-top: 0px;
	margin-bottom: 0px;
}

p.link-title a {
	padding-left: 12px;
}

/* Header (CSS3)
----------------------------------------------------------------------------------------------------*/
#header-inner h1 .p {
	color: rgba(255, 255, 255, .1);
}

/* Links (CSS3)
----------------------------------------------------------------------------------------------------*/
a,
del {
	-webkit-transition-duration: .33s; 
	-webkit-transition-property: color;
	-moz-transition-duration: .33s; 
	-moz-transition-property: color;
}

a img {
	border-color: rgba(255, 255, 255, .1);
}
	
img  {
	-webkit-transition-duration: .33s; 
	-webkit-transition-property: border-color;
	-moz-transition-duration: .33s; 
	-moz-transition-property: border-color;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Structure (CSS3)
----------------------------------------------------------------------------------------------------*/
.mod,
.mod p img,
.mod p a img {
	border-color: rgba (255, 255, 255, .1);
}

.mod p a img:hover {
	border-color: rgb(255, 103, 0);
}

.grid_8 .mod-inner {
	border-color: rgba(255, 255, 255, .1);
}

/* Notes (CSS3)
----------------------------------------------------------------------------------------------------*/
.mod blockquote {
	border-left-color: rgba(255, 255, 255, .1);
}

/* Search Box (CSS3)
----------------------------------------------------------------------------------------------------*/
.search-box {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .5);
}
p.chat {
	margin: 0px;
}
p.chat:last-child {
	margin-left: 0px;
	margin-bottom: 24px;
	margin-right: 0px;
	margin-top: 0px;
}


	</style>
