h1 {
    color: #262626;
    font-family: "Enriqueta", serif;
    font-size: 44px;
    line-height: 48px;
    margin: 0 0 30px;
}

h2 {
    color: #262626;
    font-family: "Enriqueta", serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 24px;
    padding: 12px 0 0;
}

h3 {
    color: #c73036;
    font-family: "Enriqueta", serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 12px 0 0;
    text-transform: uppercase;
}

p {
    color: #2f2f2f;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0 0 1.75em;
}

.post-info {
    color: #aaaaaa;
    font-size: 16px;
    font-style: italic;
    line-height: 1em;
    padding: 1.5em 0;
    margin: 0;
}

body {
    font-family: Open Sans, sans-serif;
    margin: 0;
}

.post-info a {
    color: #c73036;
    font-family: "Enriqueta", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    color: white;
    text-transform: uppercase;
    top: 0;
    text-align: right;
    margin: 1% 5% 0 0;
}

nav a {
    color: white;
}

a {
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
}

* a:hover {
    color: #d35400;
}

header a:visited {
    color: white;
}

.container a:visited {
    color: #262626;
}



.name {
    font-size: 2em;
    margin-top: 6%;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    font-size: 1.25em;
    position: relative;
}

.menu li {
    list-style: none;
    display: inline;
    margin-left: 0.5em;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.container a {
    font-weight: bold;
    color: #262626;
}

header {
    background-color: #261220;
    position: relative;
    display: table;
    text-align: center;
    width: 100%;
    height: 35%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 72px;
}
