<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Quando|Telex' rel='stylesheet' type='text/css'>
        <link href="/css/style.css" rel="stylesheet" media="screen">

        <title>{{ page.title }}</title>
    </head>
    <body>
        {{ content }}
        <section class="sidebar">
            <img src="http://www.gravatar.com/avatar/b9658e531ce58a80bc981e5f375c7759.png" class="avatar" alt="Miguel San Rom&aacute;n">
            <section class="name">Miguel San Rom&aacute;n</section>
            <section class="meta">
                <a href="http://github.com/msanroman" class="github">
                    <img src="github.png" alt="GitHub">
                </a>
                <a href="http://twitter.com/xtremevoodoo" class="twitter">
                    <img src="twitter.png" alt="Twitter">
                </a>
            </section>
            <nav>
                <ul>
                    <li>
                        <a href="about.html">
                            &raquo; who am I?
                        </a>
                    </li>
                    <li>
                        &raquo; videos <span class="coming">coming soon!</span>
                    </li>
                    <li>
                        &raquo; sketches <span class="coming">coming soon!</span>
                    </li>
                </ul>
            </nav>
        </section>
    </body>
</html>