<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Quando|Telex' rel='stylesheet' type='text/css'>
        <link href="style.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <section class="content">
            <h1>Post title extremely cool</h1>
            <section class="post">
                <time datetime="21-06-1989">June 21, 2012</time>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                <h2>Excerpt</h2>
                <p>Lorem ipsum dolor sit amet, <a href="">random link!</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                <blockquote>
                    <p>
                        &ldquo;This is my random quote, if you don't like it, go on and copy a lorem ipsum.&rdquo; ~
                        <strong><i>Mad</i> Mike</strong>
                    </p>
                </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            </section>
        </section>
        <section class="sidebar">
            <img src="http://www.gravatar.com/avatar/b9658e531ce58a80bc981e5f375c7759.png" class="avatar" alt="Miguel San Rom&aacute;n">
            <section class="name">Miguel San Rom&aacute;n</section>
            <section class="meta">
                <a href="http://github.com/msanroman" class="github">
                    <img src="github.png" alt="GitHub">
                </a>
                <a href="http://twitter.com/xtremevoodoo" class="twitter">
                    <img src="twitter.png" alt="Twitter">
                </a>
            </section>
            <nav>
                <ul>
                    <li>
                        <a href="about.html">
                            &raquo; who am I?
                        </a>
                    </li>
                    <li>
                        <a href="articles.html">
                            &raquo; articles
                        </a>
                    </li>
                    <li>
                        &raquo; videos <span class="coming">coming soon!</span>
                    </li>
                    <li>
                        &raquo; sketches <span class="coming">coming soon!</span>
                    </li>
                </ul>
            </nav>
        </section>
    </body>
</html>