---
layout: global
---
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Miguel San Román">
        <link href='http://fonts.googleapis.com/css?family=Quando|Telex' rel='stylesheet' type='text/css'>
        <link href="../css/style.css" rel="stylesheet" media="screen">
        <link href="../css/font-awesome.css" rel="stylesheet" media="screen">
        <!--[if IE 7]>
            <link href="/css/font-awesome-ie7.css" rel="stylesheet" media="screen">
        <![endif]-->
    </head>
    <body>
        <section class="content">
            <h1>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </h1>
            <time>{{ page.date | date: "%B %e, %Y"}}</time>
            <section class="post">
                {{ content }}
            </section>
        </section>